<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607005935891-3tid2bkdod2m4k9ias486g8pu2eha73i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607005935891-3tid2bkdod2m4k9ias486g8pu2eha73i</string>
	<key>API_KEY</key>
	<string>AIzaSyD28reTBbt3kpUN4mlgIFSnSF6Ilv5hLaU</string>
	<key>GCM_SENDER_ID</key>
	<string>607005935891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>delivery-app-1fbbe</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-app-1fbbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607005935891:ios:f511eabbf3c57f9af632e6</string>
</dict>
</plist>